
.page_role_div{
    width: 100%;
    margin: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.dparb{
    /* width: 400px;  */
    margin: auto;
}

.form_div{
    width: 70%;
    margin: auto;
}

/* .form_div *{
    width: 100%;
    margin: auto;
} */

.form_div form{
    width: 90%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.415);
<<<<<<< HEAD
=======
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
>>>>>>> main_test
}

/* ..alert_message{ */
.alert_message_role {
    margin: 10px;
    width: 90%;
}
