
.page_role_div{
    width: 100%;
    margin: auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.dparb{
    /* width: 400px;  */
    margin: auto;
}

.form_div{
    width: 70%;
    margin: auto;
}

/* .form_div *{
    width: 100%;
    margin: auto;
} */

.form_div form{
    width: 90%;
    margin: auto;
}

.alert_message{
    margin: 10px;
    width: 90%;
}