

/* .table_div{
    width: 90%;
    margin: auto;
    overflow-x:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.table_item{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;  Ajouté */
    /* border-radius: 10px;
}


.table_item th, .table_item td {
    text-align: left;
    padding: 8px;
    white-space: nowrap;  Ajouté pour éviter le wrapping du contenu */
    /* text-align: center;
  }

  .table_item tr:nth-child(even){
        background-color: #ffffff
    }
.table_item td{ */
    /* background-color: #ffffff */
    /* background-color: rgba(255, 255, 255, 0.415);
    overflow: auto;
}

.dpafrb{
    padding-bottom: 15px;
}

.btn{
    margin: 5px;
    padding: 10px auto;
    border-radius: 20px;
    border: none;
    background-color: white; */
    /* width: 100%; */
  /* }

.btn_sbt:hover{
    background-color: rgb(75, 225, 0);
    color: white;
}
.btn_rst:hover{
    background-color: rgb(225, 75, 0);
    color: white;
}

.btn_add_role_link{
    text-align: center;
    margin-top: 20px;
}

.btn_add_role_link .btn a{
    text-decoration: none;
    color: black;
}

.btn_add_role_link .btn a:hover{
    background-color: rgb(75, 225, 0);
    color: white;
} */

/* ############################################################### */

.table_div {
    width: 90%;

    margin: 0px auto 30px;
    overflow-x: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.table_item {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    border-radius: 10px;
}

.table_item th, .table_item td {
    text-align: left;
    padding: 8px;
    white-space: nowrap;  /* Empêche le wrapping du contenu */
    text-align: center;
    overflow: hidden;  /* Cache le débordement du contenu */
    text-overflow: ellipsis;  /* Affiche des points de suspension pour le contenu débordant */
}

.table_item tr:nth-child(even) {
    background-color: #ffffff;
}

.table_item td {
    /* background-color: rgba(255, 255, 255, 0.415);
    overflow: hidden;  Cache le débordement du contenu
    text-overflow: ellipsis;  Affiche des points de suspension pour le contenu débordant */

    max-width: 100px; /* Ajustez cette valeur en fonction de vos besoins */
    /* overflow: auto; */
    /* white-space: normal; Changez cela de nowrap à normal pour permettre le wrapping du texte */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.415);
}

/* .table_item th, .table_item td {
    text-align: left;
    padding: 8px;
    white-space: nowrap;
    text-align: center;
    overflow: hidden; Added overflow property
  } */

.dpafrb {
    padding-bottom: 15px;
}

.btn {
    margin: 5px;
    padding: 10px auto;
    border-radius: 20px;
    border: none;
    background-color: white;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.btn_sbt:hover {
    background-color: rgb(75, 225, 0);
    color: white;
}

.btn_rst:hover {
    background-color: rgb(225, 75, 0);
    color: white;
}

.btn_add_role_link {
    text-align: center;
    margin-top: 20px;
}

.btn_add_role_link .btn a {
    text-decoration: none;
    color: black;
}

.btn_add_role_link .btn a:hover {
    background-color: rgb(75, 225, 0);
    color: white;
}

