
/* @import '../css/Styles/page_authentification.css'; */
@import url('../css/Styles/page_authentification.css');
@import url('../css/Styles/sidenav_style.css');
@import url('../css/Styles/ContentSection_style.css');
@import url('../css/Styles/Header_style.css');
@import url('../css/Styles/form_role_style.css');
@import url('../css/Styles/style_pg_aff_role.css');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}
